/* Whole Page Formatting */
html {
    background: url('https://image.ibb.co/bKyoPa/Olin_College03.png') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

/* Font and Text Formatting */
h1, h2, h3, p, a, button, table, li {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}

p {
    font-size: 0.9em;
}

a {
    text-decoration: none;
    color: darkgray;
    transition: 0.7s;
}

a:hover, a:active {
    color: rgb(0, 204, 255);
}

li {
    text-align: justify;
}

/* Table Formatting */
table {
    border-collapse: collapse;
    table-layout: fixed;
    border: none;
    width: 70%;
    height: 100%;
}

th {
    padding: 1%;
    font-size: 1.3em;
    width: 20%;
}

tr {
    padding: 0;
    margin: 0;
}

td {
    width: 50%;
    padding: 3%;
    vertical-align: top;
}

table.calendar {
    width: 100%;
}

td.calendar {
    width: 20%;
    position: relative;
}

td.calendar:after{
    content: '';
    display: block;
    margin-top: 100%;
}

td .calendar-content {
    padding: 7%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

td.calendar:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Various Div Formatting */
div.homepage {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    ms-transform: translate(-50%, -50%);
    border: 0.1em solid white;
    padding: 3%;
}

div.warn-box {
    background-color: rgba(0, 0, 0, 0.75);
    border: 0.1em solid white;
    padding: 1%;
}

div.fill-page {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

div.content {
    margin-left: 18%;
    margin-right: 18%;
}

div.container {
    width: 30%;
    margin: auto;
}

div.box-container {
    padding-bottom: 3%;
}

div.left-floating-box {
    width: 30%;
    float: left;
    margin-left: 18%;
    margin-right: 2%;
}

div.right-floating-box {
    width: 30%;
    float: right;
    margin-left: 2%;
    margin-right: 18%;
}

div.footer {
    padding: 1%;
    padding-left: 10%;
    background-color: rgba(0, 0, 0, 0.75);
    border-top: 0.1em solid white;
    color: white;
}

/* Button Formatting */
button {
    background: none;
    border: 0.1em solid white;
    border-radius: 2em;
    padding: 2%;
    font-size: 1em;
    color: white;
    transition: 0.5s;
    outline: none;  
}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

button.close {
    background: none;
    border: 0.05em solid black;
    border-radius: 1em;
    color: black;
    font-size: 1em;
    padding: 0.2em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    margin-top: 2em;
    margin-right: 1em;
}

button.close:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Modal Formatting */
/* Modal Background */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    border-radius: 3em;
    margin: auto;
    padding: 0;
    border: none;
    width: 80%;
    box-shadow: 0 0.5em 0.5em 0 rgba(0,0,0,0.2), 0 0.2em 0.2em 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Animations */
@-webkit-keyframes animatetop {
    from {
        top:-300px;
        opacity:0
    } to {
        top:0;
        opacity:1
    }
}

@keyframes animatetop {
    from {
        top: -9em;
        opacity: 0
    } to {
        top: 0;
        opacity: 1
    }
}

/* Close Button */
.close {
    color: black;
    float: right;
    font-size: 2.5em;
    font-weight: bold;
    transition: 0.5s;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* Header */
.modal-header-regular-class {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color: rgb(255, 227, 137);
    color: black;
    border-radius: 3em 3em 0 0;
}

.modal-header-extended-class {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color: rgb(165, 237, 255);
    color: black;
    border-radius: 3em 3em 0 0;
}

.modal-header-affiliated-activity {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    background-color: rgb(178, 255, 147);
    color: black;
    border-radius: 3em 3em 0 0;
}

/* Body */
.modal-body {
    padding: 1%;
}

/* Footer */
.modal-footer {
    padding: 1%;
    background-color: white;
    color: black;
    border-radius: 0 0 3em 3em;
}

/* Section Formatting */
#about, #policies, #calendar, #handouts {
    padding: 3%;
}

#menu {
    position:fixed;
    top: 0em;
    width: 100%;
    background-color: white;
    color: black;
    z-index: 9999;
    display: none;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: 0.08em solid silver;
}

/* All-Purpose Formatting */
.white-font {
    color: white;
}

.white-background {
    background-color: rgb(235, 235, 235);
}

